@{
    ViewBag.Title = "Blow Out!";
}

<div class="jumbotron">
    <h1>Welcome to Blow Out!</h1>
    <p class="lead">We blow our competitors out of the water</p>
    <img src="~/Content/indicative.jpg" alt="An image indicative of musical instruments."/>
    <p class="myFooterText">The website allows rentals of new and used instruments.</p>
    <p class="myFooterText">"It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself”.  - Johann Sebastian Bach</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rentals</h2>
        <p>
            Blow Out Instrument Rentals provides a variety of best-in-class musical instruments - at incredible prices.
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Rentals", "Home")>Go</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Problem? Question? We'd love to hear from you!</p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "Contact")>Go</a></p>
    </div>
    <div class="col-md-4">
        <h2>Email</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href=@Url.Action("Email", "Contact", "bob/steven.rummler@gmail.com/")>Go</a></p>
    </div>
</div>