@{
    ViewBag.Title = "Rentals";
}

<h2>Rentals</h2>

<a href=@Url.Action("Trumpet", "Home")><img src="~/Content/trumpet.jpg" width="400" /></a>

<a href=@Url.Action("Trombone", "Home")><img src="~/Content/trombone.jpg" width="400" /></a>

<a href=@Url.Action("Tuba", "Home")><img src="~/Content/tuba.jpg" width="400" /></a>

<a href=@Url.Action("Flute", "Home")><img src="~/Content/flute.jpg" width="400" /></a>

<a href=@Url.Action("Clarinet", "Home")><img src="~/Content/clarinet.jpg" width="400" /></a>

<a href=@Url.Action("Saxophone", "Home")><img src="~/Content/saxophone.png" width="400" /></a>
